---
import { StringSchema } from "astro/dist/env/schema";

interface Props {
  title?: string;
  description?: string;
  url?: string;
  siteName?: string;
  keywords?: string;
  canonical?: string;
  type?: string;
  locale?: string;
  publishedTime?: string;
  updatedTime?: string;
  themeColor?: string;
  user?: string;
  image?: string;
  imageHeight?: string;
  imageWidth?: string;
  imageAlt?: string;
}

const {
  title = "Default Title",
  description = "Default Description",
  url = "https://tomso-portfolio.vercel.app/",
  siteName = "Tomso Portfolio",
  keywords = "default, keywords",
  themeColor = "#000000",
  canonical = "https://tomso-portfolio.vercel.app/",
  type = "website",
  locale = "en_US",
  publishedTime = "2025-01-01T12:00:00Z",
  updatedTime = "2025-01-08T18:00:00Z",
  user = "@TomsoJS",
  image = "https://tomso-portfolio.vercel.app/Tomso.png",
  imageHeight = "300",
  imageWidth = "300",
  imageAlt = "Tomso Logo",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" sizes="48x48" />

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content={"Benjamín Veli"} />
    <meta name="keywords" content={keywords} />
    <link rel="canonical" href={canonical} />

    <!-- OG Metatags -->
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <meta name="og:url" content={url} />
    <meta name="og:site_name" content={siteName} />
    <meta name="theme-color" content={themeColor} />

    <meta property="og:type" content={type} />
    <meta property="og:locale" content={locale} />
    <meta property="og:published_time" content={publishedTime} />
    <meta property="og:updated_time" content={updatedTime} />
    <meta name="og:image" content={image} />
    <meta name="og:image:width" content={imageWidth} />
    <meta name="og:image:height" content={imageHeight} />
    <meta name="og:image:alt" content={imageAlt} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={user} />
    <meta name="twitter:creator" content={user} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <meta name="twitter:image:alt" content={imageAlt} />

    <!-- Required -->
    <title>{title}</title>

    <!-- Preload para la fuente Epilogue -->
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800&display=swap"
      as="style"
      onload="this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600;700;800&display=swap"
      />
    </noscript>
  </head>
  <body>
    <slot />
  </body>
</html>
